.env
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs/
*.log
scratch/
.system_generated/
.idea/
.vscode/
.DS_Store
*.db
*.sqlite
*.sql
ib_logfile*
ibdata*
mysql/data/
db_test.js
